<!--Navbar blue-->
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark mb-4">
                <a class="navbar-brand" href="#">IMMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item pr-4" routerLinkActive="active">
                            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown pr-4" routerLinkActive="active">
                            <a routerLinkActive="active" class="nav-link dropdown-toggle" id="dropdownService" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company 
                                </a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownService">
                                <a class="dropdown-item" routerLink="/about">About IMMS</a>
                                <a class="dropdown-item" routerLink="/business-philosophy">Business Philosophy</a>
                                <a class="dropdown-item" routerLink="/business-model" >Business Model</a>
                            </div>
                        </li>                     
                        <li class="nav-item dropdown pr-4"  routerLinkActive="active">
                            <a routerLinkActive="active" class="nav-link dropdown-toggle" routerLink="/service" id="dropdownService" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Service 
                                </a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownService">
                                <a class="dropdown-item" routerLink="/engineering" >Engineering</a>
                                <a class="dropdown-item" routerLink="/parts-equipment">Parts & Equipments</a>
                                <a class="dropdown-item" routerLink="/asset-management" >Asset Management</a>
                            </div>
                        </li>
                        <li class="nav-item pr-4" routerLinkActive="active" >
                            <a class="nav-link"routerLink="/contacts">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--/.Navbar blue-->
            <!--Navbar -->