<div class="d-flex flex-column" id="sidenav" [@slideState]="stateName">    
    <button (click)="toggle()" mat-icon-button><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </button>
    </mat-menu>
    <div *ngIf="expand">
        <button routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
    </div>   
    <div *ngIf="!expand">
        <button routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
        </button>
    </div>  
</div>