  <!--Footer-->
  <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="d-flex flex-row justify-content-center">
      <div class="flex-column text-left p-5">
        <h2>Contact Us</h2>
        <div class="d-flex">
          <div class="flex-row mt-3" style="line-height: 1em;">
            <p>IMMS Pty Ltd. 154 High Street Fremantle WA, Australia.</p>
            <a href="mailto:enquiry@imms-wa.com.au" target="_blank" rel="noopener noreferrer">enquiry@imms-wa.com.au</a>
          </div>
        </div>        
      </div>
      <div class="flex-column text-left p-5">
        <h2>Quick Links</h2>
        <div class="d-flex">
          <div class="flex-row mt-3" style="line-height: 1em;">
            <p class="font-weight-bold">About IMMS</p>
            <p>Business philosophy</p>
            <p>Business model</p>
          </div>
          <div class="flex-row mt-3 ml-5" style="line-height: 1em;">
            <p class="font-weight-bold">About IMMS</p>
            <p>Business philosophy</p>
            <p>Business model</p>
          </div>
          <div class="flex-row mt-3 ml-5" style="line-height: 1em;">
            <p class="font-weight-bold">About IMMS</p>
            <p>Business philosophy</p>
            <p>Business model</p>
          </div>
        </div>        
      </div>
    </div>

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright: IMMS. All Rights Reserved.
    </div>
    <!--/.Copyright-->
  </footer>