<div class="container justify-content-center align-items-center wow">
  <table class="table table-bordered white" style="table-layout: fixed;">
    <thead>
      <!-- Year Row -->
      <tr>
        <th scope="col" colspan="3"></th>
        <th scope="col" colspan="12" class="text-center">2020</th>
      </tr>
      <tr>
        <th class="tbl-header" scope="col">Site</th>
        <th class="tbl-header" scope="col">Plant</th>
        <th class="tbl-header" scope="col">SHDN</th>
        <th class="text-center" scope="col" *ngFor="let month of months;">{{ month }}</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lihir</td>
        <td>Grinding</td>
        <td class="text-overflow" matTooltip="Mills Feeder" matTooltipPosition="right">Mills Feeder</td>
        <td colspan="12"></td>
      </tr>
      
      <tr>
    </tbody>
  </table>
</div>