<div class="row text-white">
    <div class="col-md-12">
        <div class="row p-4 m-0">    
            <div class=" col-md-12 p-2">
                <h2 class="white-text font-weight-bold">About IMMS</h2>
            </div>
            <div class=" col-md-4 p-2">
                <div class="card wow fadeIn p-4 text-white">
                    <h2 class="blue-text darken-4">About IMMS</h2>
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
            <div class=" col-md-4 p-2">
                <div class="card wow fadeIn p-4">
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
            <div class=" col-md-4 p-2">
                <div class="card wow fadeIn p-4">
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
        </div>
        <div class="row p-4 m-0">
            <div class=" col-md-12 p-2">
                <h2 class="white-text font-weight-bold">Our Services</h2>
            </div>
            <div class=" col-md-4 p-2">
                <div class="card wow fadeIn p-4">
                    <h2 class="blue-text">About IMMS</h2>
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
            <div class=" col-md-4 p-2">
                <div class="card wow fadeIn p-4">
                    <h2 class="blue-text">About IMMS</h2>
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
            <div class=" col-md-4 p-2">
                <div class="card wow fadeIn p-4">
                    <h2 class="white-text ">About IMMS</h2>
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
        </div>
        <div class="row p-4 m-0">
            <div class=" col-md-12 p-2">
                <h2 class="white-text font-weight-bold">Client Testimonials</h2>
            </div>
            <div class=" col-md-12 p-2">
                <div class="card wow fadeIn p-4">
                    <h2 class="blue-text">About IMMS</h2>
                    <p>Integrated Maintenance Management Services is an Australian company based in Perth. Our combined management team has over 100 years of mining business experience. We are an engineering project management firm with experienced and reputable business affiliates in the field of engineering and supply of parts in Australia and globally. IMMS provides service for both new projects and currently operating mining facilities.</p>
                    <a href="">Read More...</a>
                </div>        
            </div>
        </div>
<!--Section: Jumbotron-->
    </div>
</div>