.gantt_add { display: none; }
.gantt_task_content { display: none; }
[data-column-id="add"], [column_id="add"] { display: none; }
.gantt_radio:checked + label:after, .gantt_radio:not(:checked) + label:after {
  width: 16px !important;
  height: 16px !important;
  top: 1px !important;
  left: 1px !important;
}
.currMonth{ background: tomato !important;}